.form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 246px;
}

section h1{
    margin-bottom: 0;
}

.input-block{
width: 100%;
display: flex;
flex-direction: column;
}
.input-block input{
    outline: none;
    padding: 8px 14px;
    border: 1px solid #C4C4C4;
    -moz-appearance: textfield;
    margin: 5px 0;
}


.input-block input::-webkit-inner-spin-button { 
    display: none;
  }



.auth-form > div {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    width: 100%;
}

.form__label {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin: 8px 0;
    width: 100%;
}


.pass-input {
    border: none !important;
}

.form__pass {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 14px 0 0;
    border: 1px solid #C4C4C4;
    justify-content: space-between;
}
.form__pass input{
    margin: 0;
}

.form__forget {
    font-size: 16px;
    color: #E00944;
    text-decoration: none;
    margin: 16px 0;
}

.form__reg { 
    font-size: 16px;
    color: #2E20CD;
    text-decoration: none;
    margin: 16px 0;
}

.login-button {
    padding: 20px 0;
    background: linear-gradient(178.4deg, #FDCC47 1.36%, #FF8520 121.84%);
    border-radius: 100px;
    border:none;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
}


.input-block__date{
    display: flex;
    gap: 30px;
}
.input-block__date input {
    width: 100%;
    text-align: center;
}

.form-advice{
    margin: 8px 0;
    font-size: 14px;
    color: #464F56;
}

.agree{
    font-size: 10px;

    color: #2D2D2D;
    margin: 8px 0;
}

.error{
    color:#E00944;
}
